In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('../data/imobiliare_bucuresti.csv')

In [5]:
df

,Unnamed: 0,nr cam,mp,parter,et1-2,et3+,etaj max,typ_decom,bloc nou,Price/Surface,Price,WebPage
0,1,2,56.00,0,1,0,2,1,1,639.29,35800,https://www.imobiliare.ro/vanzare-apartamente/...
1,2,2,57.00,0,1,0,2,0,1,628.07,35800,https://www.imobiliare.ro/vanzare-apartamente/...
2,3,2,67.00,0,1,0,2,1,1,591.04,39600,https://www.imobiliare.ro/vanzare-apartamente/...
3,4,1,48.00,0,1,0,2,1,1,620.83,29800,https://www.imobiliare.ro/vanzare-garsoniere/b...
4,5,3,89.60,0,0,1,3,1,1,1260.04,112900,https://www.imobiliare.ro/vanzare-apartamente/...
...,...,...,...,...,...,...,...,...,...,...,...,...
9892,9894,4,90.00,0,0,1,8,0,0,944.44,85000,https://www.imobiliare.ro/vanzare-apartamente/...
9893,9895,3,85.00,0,0,1,8,1,0,1588.22,134999,https://www.imobiliare.ro/vanzare-apartamente/...
9894,9896,2,48.00,0,0,1,4,0,0,1229.17,59000,https://www.imobiliare.ro/vanzare-apartamente/...
9895,9897,4,83.81,0,0,1,3,1,1,1312.49,110000,https://www.imobiliare.ro/vanzare-apartamente/...
9896,9898,1,35.00,0,0,1,4,1,1,1757.14,61500,https://www.imobiliare.ro/vanzare-garsoniere/b...

In [16]:
y_sqmp = df["Price/Surface"]
y_price = df['Price']
X = df.iloc[:,1:9]

In [14]:
X

      nr cam     mp  parter  et1-2  et3+  etaj max  typ_decom  bloc nou
0          2  56.00       0      1     0         2          1         1
1          2  57.00       0      1     0         2          0         1
2          2  67.00       0      1     0         2          1         1
3          1  48.00       0      1     0         2          1         1
4          3  89.60       0      0     1         3          1         1
...      ...    ...     ...    ...   ...       ...        ...       ...
9892       4  90.00       0      0     1         8          0         0
9893       3  85.00       0      0     1         8          1         0
9894       2  48.00       0      0     1         4          0         0
9895       4  83.81       0      0     1         3          1         1
9896       1  35.00       0      0     1         4          1         1

[9897 rows x 8 columns]

In [17]:
y_price

0        35800
1        35800
2        39600
3        29800
4       112900
         ...
9892     85000
9893    134999
9894     59000
9895    110000
9896     61500
Name: Price, Length: 9897, dtype: int64

In [19]:
# further process X data maybe
# construct normal eq and determine model coefs (((XtX)^-1)Xt)y (y = x*w => w = y/x)
# validate results (how, when)